name: Rust

on:
  push:
    branches: [ "main", "mipsel-build" ]
  pull_request:
    branches: [ "main" ]


jobs:
  release:
    name: Release - ${{ matrix.platform.os-name }}
    strategy:
      matrix:
        platform:
#          - os-name: FreeBSD-x86_64
#            runs-on: ubuntu-24.04
#            target: x86_64-unknown-freebsd

          - os-name: Linux-x86_64
            runs-on: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
            cross: false
            toolchain: stable
            args: "--locked --release"

#          - os-name: Linux-aarch64
#            runs-on: ubuntu-22.04
#            target: aarch64-unknown-linux-gnu
#            cross: true
#            toolchain: stable
#            args: "--locked --release"

          - os-name: Linux-mipsel
            runs-on: ubuntu-24.04
            target: mipsel-unknown-linux-gnu
            cross: true
            toolchain: nightly
            args: "--locked --release -Zbuild-std"

#          - os-name: Linux-riscv64
#            runs-on: ubuntu-24.04
#            target: riscv64gc-unknown-linux-gnu

#          - os-name: Windows-x86_64
#            runs-on: windows-latest
#            target: x86_64-pc-windows-msvc

#          - os-name: macOS-x86_64
#            runs-on: macOS-latest
#            target: x86_64-apple-darwin

          # more targets here ...


    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential python3-pip curl
      - name: Install cross compiler
        if: ${{ matrix.platform.cross }}
        run: |
          TARGET=${{ matrix.platform.target }}
          ARCH=$(echo "$TARGET" | cut -d"-" -f1)
          LIBC=$(echo "$TARGET" | rev | cut -d"-" -f1 | rev)
          sudo apt-get install -y  \
            gcc-${ARCH}-linux-${LIBC} g++-${ARCH}-linux-${LIBC}

      - name: Install zig and cargo-zigbuild
        run: |
          python3 -m pip install ziglang
          cargo +nightly install cargo-zigbuild
      - name: Install Rust stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.platform.toolchain }}
      - name: Install Rust nightly toolchain
        run: |
          rustup +nightly component add rust-src
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build with cargo-zigbuild
        # Use cargo zigbuild followed by the target
        run: cargo +nightly zigbuild -Z build-std --release --target ${{ matrix.platform.target }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4 # Uses the official action
        with:
          name: quic-dns.${{ matrix.platform.target }}
          path: target/${{ matrix.platform.target }}/release/quic-dns*
#      - name: Build binary
#        uses: houseabsolute/actions-rust-cross@v1
#        with:
#          command: build
#          target: ${{ matrix.platform.target }}
#          args: ${{ matrix.platform.args }}
#          strip: true
#          toolchain: ${{ matrix.platform.toolchain }}
#          force-use-cross: ${{ matrix.platform.cross }}